@model IEnumerable<KLTN.Models.Database.ThongBao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaDoc)
            </th>
            <th>
                Thành viên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.ThanhVien.HoTen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaThongBao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaThongBao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaThongBao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
