@model KLTN.Models.Database.GoiTap

@{
    ViewData["Title"] = "Chi tiết gói tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết gói tập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/GoiTaps">Gói tập</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-info-circle me-1"></i>
            Thông tin chi tiết
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TenGoi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenGoi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MoTa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MoTa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ThoiHanThang)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ThoiHanThang)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GiaTien)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiaTien)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SoLanTapToiDa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SoLanTapToiDa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.KhuyenMai)
                </dt>
                <dd class="col-sm-10">
                    @(Model.KhuyenMai != null ? Model.KhuyenMai.TenKM : "Không có")
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <a asp-action="Edit" asp-route-id="@Model.MaGoi" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Sửa
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Quay lại
                </a>
            </div>
        </div>
    </div>
</div>
