@model IEnumerable<KLTN.Models.Database.GoiTap>

@{
    ViewData["Title"] = "Danh sách gói tập";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var goiTap = ViewBag.GoiTap;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Danh sách gói tập</h1>
                        </div>
                        <div class="col-sm-6" style="text-align:right">
                            <a asp-action="Create" class="btn bg-gradient-success">
                                <i class="fas fa-plus">
                                </i>
                                Thêm mới
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenGoi)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GiaTien)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ThoiHanThang)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MoTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoLanTapToiDa)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenGoi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThoiHanThang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MoTa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLanTapToiDa)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.MaGoi" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Sửa
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.MaGoi" class="btn btn-primary btn-sm">
                                            <i class="fas fa-folder">
                                            </i>
                                            Chi tiết
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.MaGoi" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash">
                                            </i>
                                            Xóa
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
