@model IEnumerable<KLTN.Models.Database.DoanhThu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhToan.LoaiThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.MatKhauHash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDoanhThu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDoanhThu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDoanhThu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
