@model KLTN.Models.Database.PT_PhanCongHoaHong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PT_PhanCongHoaHong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramHoaHong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramHoaHong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuanLuyenVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuanLuyenVien.MaPT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoiTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoiTap.TenGoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopHoc.NgayTrongTuan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPhanCong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
