@model IEnumerable<KLTN.Models.Database.PT_PhanCongHoaHong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramHoaHong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuanLuyenVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoiTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhanTramHoaHong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuanLuyenVien.MaPT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoiTap.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHoc.NgayTrongTuan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhanCong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhanCong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhanCong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
